*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

.main_container{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    font-size: 15px;
      
}
.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 13rem;
    align-items: center;
    gap: 1rem;
   
    
}
a{
    text-decoration: none;
}
i{
    color: black;
}
span{
    color: black;
   margin: .5rem;
    
}
.header_child{
border-radius: 1.5rem;
padding: .5rem 3rem ;
font-size: 1rem;
background-color: #113CFC;
border: solid skyblue;
color: white;
}

.second_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30rem;
}
.third_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20rem;
    align-items: center;
}